.dropdown a,li {
    text-decoration: none;
    text-align: left;
    color: black;
}

.dropdown {
    display: none;
}

@media (max-width:980px) {
    .dropdown {
        display: block;
        background-color: rgb(127, 245, 0);
    }

    .dropdown a {
        color: 000;
        line-height: 30px;
    }

    .dropdown i {
        font-size: 20px;
    }

    .dropdown .dropdown-content {
        display: none;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content li{
        list-style: none;
    } 
    }